<launch>
    <arg name="camera_name" default="ids_xs_camera_L" />
    <arg name="use_rqt" default="true"/>
    <arg name="use_rviz" default="true"/>
    <arg name="play_from_bag" default=""/>

    <include if="$(eval arg('play_from_bag') != '')"
             file="$(find youbot_localization)/launch/init_cam_from_rosbag.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="bag_file_name" value="$(arg play_from_bag)"/>
        <arg name="use_rqt" value="$(arg use_rqt)"/>
    </include>
    <include if="$(eval arg('play_from_bag') == '')"
             file="$(find youbot_localization)/launch/ids_init.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="use_rqt" value="$(arg use_rqt)"/>
    </include>
    <include file="$(find youbot_localization)/launch/apriltags_localization.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="use_rviz" value="$(arg use_rviz)"/>
    </include>
</launch>