<launch>
  <arg name="use_rviz" default="true"/>
  <arg name="use_rqt" default="true"/>
  <arg name="use_sim" default="true"/>
  <arg name="des_rviz_file" default="$(find youbot_launcher)/config/youbot.rviz"/>

  <group unless="$(arg use_sim)">
      <machine name="youbot2"
               address="youbot2"
               env-loader="~/mars/youbot2_env_loader.sh"
               user="youbot" password="youbot"/>
      <!--machine name="tp15-aspire-2"
               address="tp15-aspire-2"
               env-loader="~/mars/aspire2_env_loader.sh"
               user="student" password="123"/-->
      
      <!-- Run youbot 2 driver -->
      <node machine="youbot2" pkg="youbot_launcher" type="timed_roslaunch.sh"
         args="0 youbot_driver_ros_interface youbot_driver.launch"
         name="timed_roslaunch_youbot_driver" output="screen">
      </node>

      <node machine="youbot2" pkg="youbot_launcher" type="timed_roslaunch.sh"
         args="0 youbot_localization youbot_localization.launch"
         name="timed_roslaunch_youbot_localization" output="screen">
      </node>

      <!-- Run remote localization system -->
      <node unless="$(arg use_sim)" pkg="youbot_launcher" type="timed_roslaunch.sh"
         args="0 youbot_localization remote_localization.launch camera_name:=ids_xs_camera_L use_rqt:=false use_rviz:=false"
         name="timed_roslaunch_youbot_remote_localization" output="screen">
      </node>
  </group>
  <group if="$(arg use_sim)">
      <param name="use_sim_time" value="true"/>

      <include file="$(find gazebo_ros)/launch/empty_world.launch">
         <arg name="world_name" value="$(find youbot_launcher)/worlds/willow_garage.world"/>
         <arg name="paused" value="false"/>
         <arg name="gui" value="true"/>
         <arg name="use_sim_time" value="true"/>
         <arg name="headless" value="false"/>
      </include>

      <!-- Spawn robot in gazebo -->
      <param name="robot_description"
            command="$(find xacro)/xacro --inorder
                  '$(find youbot_description)/robots/youbot_base_only.urdf.xacro'" />

      <node name="youbot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model youbot"/>

      <rosparam command="load" file="$(find youbot_launcher)/config/youbot_sim_controllers.yaml" />

      <!-- spawn controllers -->
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
       output="screen" args="joint_state_controller
                              wheel_fl_vel_controller
                              wheel_bl_vel_controller
                              wheel_fr_vel_controller
                              wheel_br_vel_controller" />

      <!-- Convert joint states to TF transforms -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  </group>


  <!-- Tools -->
  <node pkg="youbot_launcher" type="timed_rosrun.sh" if="$(eval arg('use_rviz') == true)"
     args="10 rviz rviz -d $(arg des_rviz_file)"
     name="timed_rosrun_rviz" output="screen">
  </node>
  <node pkg="youbot_launcher" type="timed_rosrun.sh" if="$(eval arg('use_rqt') == true)"
     args="0 rqt_gui rqt_gui"
     name="timed_rosrun_rqt" output="screen">
  </node>
</launch>
